<body id = "home_page">
<div class="jumbotron">
<h1><center>Welcome to Marketplace<center></h1>
<p><center>The place to buy stuff!</center></p>
<center><%= link_to "Roasts", roasts_path, class: "btn btn-primary btn-lg" %></center>
</div>

<div class="row">

	<%= render @roasts %>

</div>
</body>